.site-container {
  display: grid;
  /* grid-template-columns: min-content 1fr; */
  grid-template-areas: 'header header'
                       'nav main';
  grid-template-columns: 10rem 1fr; 
}

.site-container header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 0.9;
  z-index: 99;
}

.site-title {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo-backdrop {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 2.5rem;
  max-width: min-content;
}

.site-nav {
  grid-area: nav;
  padding: 2rem;
  width: 10rem;
  position: fixed;
  top: 5rem;
  overflow: auto;
}

.site-nav a, .site-nav a:visited {
  color: rgb(148, 35, 148);
  font-weight: bold;
  padding: 0.25rem;
  height: calc(1.5rem + 2px);
  max-width: calc(100% - 2rem);
  box-sizing: border-box;
  border: 1px solid transparent;
}

.site-nav a:hover {
  filter: brightness(2);
  border: 1px solid rgb(70, 20, 70);
  border-radius: 4px;
  border-style: outset;
}

main {
  grid-area: main;
}

.site-nav h5 {
  margin: 0;
  font-size: 1rem;
  line-height: 2.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
}

.site-nav h5 > a {
  width: 100%;
  display: block;
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 2rem;
  padding-left: 1rem;
  overflow-y: auto;
  padding-top: 5rem;
  height: 100%;
  width: 15rem;
}

a {
  text-decoration: none;
}

aside nav {
  margin-top: 1rem;
}

aside nav ol {
  list-style: none;
  padding-inline-start: 1.5rem;
}

aside nav ol li {
  line-height: 2rem;
}

aside nav ol a {
  text-decoration: none;
}

aside nav ol a:hover, nav ol a:active {
  color: red;
}

main {
  padding: 2rem;
}

article {
  margin-right: 17rem;
  font-size: 18px;
}

article > p {
  line-height: 21px;
}

@media (max-width: 1250px) {
  aside {
    display: none;
  }

  article {
    max-width: 100%;
    margin-right: unset;
  }
}

.my-card {
  padding: 1.5rem;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  border: 1px solid rgb(137, 119, 119);
  border-radius: 4px;
  background-color: white;
  filter: invert();
}

.my-card img {
  border-radius: 50%;
  border: 2px solid white;
  filter: invert();
}

.my-card .details {
  text-align: center;
  color: mediumvioletred;
}

.my-card h5 {
  margin: 0;
  font-size: 1rem;
} 

.my-card p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.twitter-link {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
}

.twitter-link:hover {
  filter: brightness(1.75);
}

.site-nav h5 a {
  display: flex;
  align-items: center;
}

.site-nav h5 svg {
  width: 1rem;
  margin-right: 0.5rem;
}
