h1 {
  text-align: center;
  font-size: 4rem;
}

article {
  font-family: Georgia;
}

a.project {
  color: black;
}

.project-contents {
  display: grid;
  grid-template-columns: max-content 1fr;
}

a.project p {
  line-height: 1.5rem;
  max-width: 500px;
  margin: 0;
}

.project-image {
  min-width: 200px;
  max-height: 115px;
  background-size: cover;
  margin-right: 1rem;
}